@import "../../../styles/variables";

.section {
  background-color: #2897ee;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 450px 0 300px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .description {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  p, h3, a {
    color: $color-brown;
    line-height: 22px;
    transition: opacity 0.3s ease-in-out;
  }

  a:hover {
    opacity: 0.6;
  }
}