@import "src/styles/variables.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .headerBody {
    width: 100%;
    background-color: $color-green;
    padding-top: 10px;

    .headerContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .links {
        display: flex;
        gap: 20px;
      }

      .socialLinks {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
  }

  .grassImage {
    width: 100%;
    height: 34px;
    background-repeat: repeat-x;
  }
}

