@import "src/styles/variables.scss";

.footer {
  width: 100%;
  margin-top: -15px;
  color: $color-brown;

  .snowImage {
    width: 100%;
    height: 34px;
    background-repeat: repeat-x;
  }

  .footerBody {
    padding: toRem(20) 0;
    width: 100%;
    background-color: $color-white-light;

    .container {
      display: flex;
      justify-content: space-between;

      > p {font-size: toRem(12);}
    }

    .descriptionWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: toRem(20);

      .description {
        display: flex;
        align-items: center;
        gap: toRem(40);

        .links {
          a {
            color: $color-brown;
            transition: opacity 0.3s ease-in-out;

            &:hover {
              opacity: 0.6;
            }
          }
          display: flex;
          gap: toRem(20);
        }
      }
    }

    .socialLinks {
      display: flex;
      flex-direction: column;
      gap: toRem(10);

      a {
        color: $color-brown;
        display: flex;
        gap: toRem(10);
        align-items: center;
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}